@import "scss/functions";

//$body-bg: #063F70;
$body-bg: #011f3b;
$body-color: #FFA900;
$link-color: #FFA900;
$success: #16EAF5;
$danger: red;

$success-bg-subtle: tint-color($success, 60%);
$body-tertiary-bg: tint-color($body-bg, 20%);

@import "scss/bootstrap";

.btn {
    --bs-btn-bg: #38658D;
}
