	<h2>What and why?</h2>

	<div>
	    <p>If you're playing Subnautica on consoles, you won't have access to
	    the console, and thus coordinates that are commonly used in web guides
	    to locate specific objects cannot be found.</p>

            <p>This form will help you with that situation once you marked your
            zero point.  Watch the video below to learn how to find it or
            search for "Subnautica Zero Point" on YouTube in case it might be
            gone.  Then place a buoy there.</p>

	    <p>Once you've done that, enter your coordinates into the form
	    above, and it will give you the distance and compass direction from
	    your buoy towards the target, as well as when looking back from the
	    target to your buoy.</p>
            
            <p><a href="#top">Back to top</a></p>

            <!--div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1PmFYqcKu1s" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div-->

	</div>
