<h1>Acknowledgements</h1>

<h2>This sites content</h2>

<p>Content on this site is licensed <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.</p>

<h2>Preloaded POIs and map image</h2>

<p>All pre-installed coordinates, as well as the map image come from
<a href="https://subnautica.fandom.com/wiki/Crater_Map">https://subnautica.fandom.com/wiki/Crater_Map</a>.
According to the site, they are licensed CC-BY-SA, which is hereby done justice.</p>

<h2>User submitted data</h2>

<p>User submitted coordinates are in public domain, and by submitting
coordinates, you agree to this license.</p>

