{% extends 'boilerplate.html' %}
{% block content %}
        <header>
            {% include 'flashes.html' %}
        </header>
        <main id="main">
            <h1>Subnautica Navigator</h1>

            <p class="lead">Navigation help for Subnautica console players<br />
            <a href="#about">Read here</a> about the "why?".</p>

            {% if instructions %}
            <div id="instructions" class="alert alert-success">
                <h3>Instructions for position ({{instructions.x}} / {{instructions.y}} / {{instructions.z}})</h3>
                <p>Surface distance: {{"%.2f"|format(instructions.surface_distance)}}m / Absolute distance: {{"%.2f"|format(instructions.distance)}}m<br />
                    Looking towards {{instructions.towards.orientation}}{{"%+d"|format(instructions.towards.tics)}} ({{"%.2f"|format(instructions.towards.angle)}}&deg;)<br />
                    Looking back to origin {{instructions.reverse.orientation}}{{"%+d"|format(instructions.reverse.tics)}} ({{"%.2f"|format(instructions.reverse.angle)}}&deg;)</p>
            </div>
            {% endif %}

            {% include 'form.html' %}
        </main>

        <section id="locations">
            {% include 'locations.html' %}
        </section>

        <section id="about">
            {% include 'about.html' %}
        </section>

{% endblock content %}
